<div class="container-fluid navbar-root">
    <div class="row p-4">
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <img
                    class="mr-3"
                    height="50"
                    width="auto"
                    [src]="company_logo" 
                    alt="logo">
                <div class="mr-2 text-left company_name-container">
                    <p class="shoe_title h4 mb-0" color="primary">{{ company_name }}</p>
                    <p class="shoe_subtitle mb-0" color="primary">{{ company_subtitle }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 navigation-bar">
            <ul class="list-inline mb-0 navigation-bar" *ngIf="isLoggedIn">
                <li 
                    *ngIf="isLoggedIn == false"
                    class="list-inline-item mx-2">
                    <a 
                        routerLinkActive="active"
                        [routerLink]="['/home']">
                        Home
                    </a>
                </li>
                <li 
                    class="list-inline-item mx-2">
                    <a 
                        routerLinkActive="active"
                        [routerLink]="['/shop']">
                        Shop
                    </a>
                </li>
                <li 
                    class="list-inline-item mx-2">
                    <a 
                        disabled
                        routerLinkActive="active">
                        Vouchers
                    </a>
                </li>
                <li 
                    disabled
                    class="list-inline-item mx-2">
                    <a 
                        disabled
                        routerLinkActive="active">
                        Promo
                    </a>
                </li>
                <li 
                    class="list-inline-item mx-2">
                    <a 
                        disabled
                        routerLinkActive="active">
                        Sale
                    </a>
                </li>
            </ul>
        </div>

        <!-- { path: "/home", value: "Home" },
        { path: '/shop', value: "Shop" }, -->

        <div class="col-md-4 d-flex align-items-center justify-content-end" *ngIf="isLoggedIn">
            <div>
                <button mat-button [matMenuTriggerFor]="menu">{{ current_user.name }}</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item disabled>Profile</button>
                    <button mat-menu-item (click)="handleLogout()">Logout</button>
                </mat-menu>
            </div>
            <a
                [routerLink]="['/cart']"
                mat-icon-button color="primary">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div>

    </div>
</div>