@import '~@angular/material/theming';
@import '~src/styles/mixins';
@import '~src/styles/custom_theme';

.navbar-root {
    background-color: white;
    box-shadow: 3px 4px 18px -9px rgba(0,0,0,0.75);
    position: sticky;
    z-index: 99;
    top: 0;

    .company_name-container {
        line-height: 1rem;
        text-align: center;
    }

    .list-inline-item {
        color: darkslategrey;
    }

    .active {
        // color: mat-color($custom_warn) !important;
        font-weight: bold;
    }

    .navigation-bar {
        @include juls_flex(flex, flex-start, center);
        li > a {
            color: mat-color($custom_accent);
            transition: 100ms;
        }
    }

}