<div class="container">

    <div class="text-left my-3">
        <button (click)="handleGoBack()" class="btn btn-sm btn-default">
            <span class="d-flex align-items-center ">
                <i class="material-icons mr-2" style="font-size: 16px;"> arrow_back_ios</i>
                Go Back
            </span>            
        </button> 
    </div>

    <div class="row">
        <div class="col-md-7 shoe-card">
            <div class="bg-white p-3">
                <div class="d-flex align-items-center">
                    <div>
                        <h1>{{ shoe.name }}</h1>
                        <p>seller: {{ shoe.seller }}</p>
                    </div>
                </div>

                <div *ngIf="shoe.brand === 'Nike'">
                    <img
                        class="mr-2 nike-logo"
                        height="100px"
                        width="auto"
                        src="https://freepngimg.com/thumb/nike/28093-5-nike-logo-image-thumb.png" 
                        alt="">
                </div>

                <hr>

                <div class="d-flex justify-content-between align-items-center text-center">                    
                    <img src="{{ active_image }}" width="auto" height="400px" alt="">
                    <div class="d-flex flex-column justify-content-between">
                        <div *ngFor="let img of shoe.preview">
                            <img 
                                (click)="handleSelect(img.prev)"
                                class="border m-2 img-mini" 
                                src="{{ img.prev }}"
                                alt="" height="120px" width="120px">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-5">
            <p class="text-dark">
                {{ shoe.description }}
            </p>
            <hr>
            <div class="d-flex">
                <small
                    class="product-tag text-white" 
                    *ngFor="let tag of shoe.tags">{{ tag }}</small>
            </div>
        </div>
    </div>
</div>