.img-mini {
    cursor: pointer;
}

.shoe-card {
    position: relative;
}

.nike-logo {
    position: absolute;
    right: 4%;
    top: 11%;
}

.product-tag {
    background-color: #333;
    margin: 0 0.5rem;
    padding: 5px 10px;
    border-radius: 4px;
}