<div class="login_body-root">

    <form class="login-form" [formGroup]="login_formdata" (ngSubmit)="handleLogin()">

        <mat-form-field class="w-100">
            <input
                matInput 
                formControlName="email"
                placeholder="email">
            <mat-error *ngIf="check('email')?.required">email is required</mat-error>
            <mat-error *ngIf="check('email')?.email">enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <input
                matInput 
                formControlName="password"
                type="password"
                placeholder="password">
            <mat-error *ngIf="check('password')?.required">password is required</mat-error>
        </mat-form-field>
        
        <div class="text-right">
        <button
            mat-raised-button
            class="mt-4"
            type="submit"
            color="primary">log in</button>
        </div>
    </form>
</div>