<div class="signup_form-root">
    <form class="form_body" [formGroup]="signup_formdata" (ngSubmit)="handleSignup()">
        <mat-form-field class="w-100">
            <input
                matInput 
                formControlName="fullname"
                placeholder="fullname">
            <mat-error *ngIf="check('fullname')?.required">fullname is required</mat-error>
            <mat-error *ngIf="check('fullname')?.minlength">should atleast 5 characters long</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <input
                matInput 
                formControlName="email"
                placeholder="email">
            <mat-error *ngIf="check('email')?.required">email is required</mat-error>
            <mat-error *ngIf="check('email')?.email">enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <input
                matInput 
                formControlName="username"
                placeholder="username">
            <mat-error *ngIf="check('username')?.required">username is required</mat-error>
            <mat-error *ngIf="check('username')?.minlength">username must atleast 3 characters long</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <input
                matInput 
                type="password"
                formControlName="password"
                placeholder="password">
            <mat-error *ngIf="check('password')?.required">password is required</mat-error>
        </mat-form-field>

        <div class="d-flex w-100">
                <mat-form-field class="mr-1 w-50">
                    <input 
                        formControlName="birthday"
                        matInput 
                        [matDatepicker]="picker"
                        placeholder="birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="check('birthday')?.required">birthday is required</mat-error>
                </mat-form-field>

                <mat-form-field class="w-50">
                    <mat-select formControlName="gender" placeholder="gender">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        
        <div class="text-right">
        <button
            disabled
            mat-raised-button
            class="mt-4"
            type="submit"
            color="primary">Sign up</button>
        </div>
    </form>
</div>