<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="h3 text-dark">Shoe Brands</p>
            <hr>
            <p class="text-dark h5">Nike</p>
        </div>

        <div class="col-md-9">
           <div class="container-fluid">
               <div 
                    *ngFor="let shoe of shoes" class="p-2">
                   <app-shoe [shoe_data]=shoe></app-shoe>
               </div>
           </div>
        </div>

    </div>
</div>