<div class="container home-root">
    <div class="row">
        <div class="col-md-5">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button 
                    (click)="toggleActiveForm('signup')"
                    type="button"
                    [ngClass]="{'active': active_form === 'signup'}"
                    class="btn btn-outline-dark">Signup</button>
                <button
                    (click)="toggleActiveForm('login')"
                    type="button" 
                    [ngClass]="{'active': active_form === 'login'}"
                    class="btn btn-outline-dark">Login</button>
            </div>
            <hr/>
            <app-signup-form *ngIf="active_form === 'signup'"></app-signup-form>
            <app-login-form *ngIf="active_form === 'login'"></app-login-form>
        </div>
        <div class="col-md-7">
            <div class="home-root py-4">
                <p class="text-dark h3">Welcome to Shoe Hub!</p>
                <hr>
                <p class="text-warning h6">PLEASE SIGN IN TO VIEW/BUY PRODUCTS</p>
                <i class="text-dark">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </i>
            </div>
            
            <div class="contact-section">
                <p class="text-dark h5">Contact Details</p>
                <hr />
                <div class="row contact-details">
                    <small class="col-md-4 text-left"><i class="material-icons mr-2">phone</i> +63 936 892 0147</small>
                    <small class="col-md-4 text-left"><i class="material-icons mr-2">mail</i> julsbenandiel@gmail.com</small>
                    <small class="col-md-4 text-left"><i class="material-icons mr-2">map</i> Calamba City, Laguna PH</small>
                </div>
                <hr />
            </div>

        </div>
    </div>
</div>
