@import '~src/styles/mixins';

.home-root {
    .contact-section {
        .contact-details {
            small {
                @include juls_flex(flex, flex-start, center);
            }
        }
    }

    .start_shopping-btn {
        @include juls_flex(flex, flex-start, center);
    }

}