@import '~@angular/material/theming';

@include mat-core();

$custom_primary: mat-palette($mat-gray, 900);
$custom_accent: mat-palette($mat-purple);
$custom_warn: mat-palette($mat-amber, 900);
$custom_success: mat-palette($mat-light-green);

$custom_theme: mat-light-theme(
    $custom_primary,
    $custom_warn,
);

@include angular-material-theme($custom_theme);

