/* You can add global styles to this file, and also import other style files */

// fonts
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// bootstrap
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

// custom angular material
@import '~@angular/material/theming';
@import '../styles/custom_theme';

a {
    text-decoration: none !important;
    list-style: none !important;   
}

button:focus { outline: none; }
html, body { height: 100%; background-color: #f0f0f0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.shoe_title {
    // color: mat-color($custom_);
    font-family: 'Bangers', cursive;
}

.shoe_subtitle {
    font-family: 'Architects Daughter', cursive;
}
