<div class="row shoe-card bg-white p-3">
    <div class="col-md-4">
        <img src="{{ shoe_data.img }}" class="img-fluid" alt="">
    </div>

    <div class="col-md-8">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <p class="text-dark h5">{{ shoe_data.name }}</p>
                <small>by {{ shoe_data.seller }}</small>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="h6 text-dark mb-0">₱ {{ shoe_data.price }}</p>
                    <p class="text-warning mb-0">rating {{ shoe_data.rating }}/5</p>
                </div>
            </div>
        </div>
        <hr>
        <i class="text-dark">
            {{ shoe_data.description }}
        </i>
        
        <div class="d-flex justify-content-center border p-2 rounded mt-4">
            <button
                [routerLink]="['/product-page', shoe_data.id]"
                mat-raised-button
                class="mx-2"
                color="">
                <i class="material-icons mr-1">remove_red_eye</i>
                View Item</button>

            <button
                class="mx-2"
                color=""
                mat-raised-button>
                <i class="material-icons mr-1">add</i>
                Add to cart</button>
            
            <button
                class="mx-2"
                matTooltip="ADD REVIEW TO PRODUCT"
                mat-icon-button>
                <i class="material-icons mr-1">add_box</i></button>
        </div>

    </div>
</div>